/DbConnection/nbproject/private/
/registration/nbproject/private/
/DbConnection/build/
/registration/build/
/swingEvidence/nbproject/private/
/swingEvidence/build/
/learningXmL/nbproject/private/
/JavaApplication56/nbproject/private/
/SchoolManagement/nbproject/private/
/libraryManagement/nbproject/private/
/libraryManagement/build/
/libraryManagement/dist/